.emailListItem {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  position: relative;
  border-bottom: var(--section-border);
}

.emailListItem.selected {
  background-color: #f0f0f0;
}

.emailListItem:hover {
  background-color: #f7f7f7;
}

.emailListItem .sender {
  grid-area: sender;
  font-size: 14px;
  align-items: center;
  color: var(--secondary-text-color);
}

.emailListItem .subject {
  grid-area: subject;
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: var(--title-text-color);
}

.emailListItem .body {
  margin: 5px 0;
  color: var(--secondary-text-color);
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
  padding-right: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emailListItem .body.expanded {
  -webkit-line-clamp: unset;
}

.emailHeader {
  flex: 1;
  display: grid;
  grid-template-areas:
    "sender received"
    "subject received";
  grid-template-columns: 1fr auto;
  align-items: center;
}

.received {
  grid-area: received;
  display: flex;
  align-items: center;
  color: var(--tertiary-text-color);
  font-size: 12px;
}

.received i {
  margin-right: 5px;
}

.send {
  font-weight: bold;
}

.action {
  color: var(--tertiary-text-color);
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.iconContainer {
  position: absolute;
  top: 30px;
  right: 0;
  transform: translateY(-50%);
  display: none;
}

.iconContainer i {
  margin-right: 8px;
}

.emailListItem:hover .iconContainer {
  display: flex;
}

.emailListItem:hover .received {
  opacity: 0;
}

.icon {
  padding: 5px;
  cursor: pointer;
  color: var(--tertiary-text-color);
}

.icon:hover {
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
